@use '@angular/material' as mat;
@use "tailwindcss";

@theme {
  --color-blue: #364B7A;
  --color-blue-mid: #C1C8E4;
  --color-pink: #8E3B46;
  --color-pink-mid: #E8C7CD;
  --color-green: #0D2B1D;
  --color-green-mid: #AEC3B0;
  --color-creamy: #F2DFAF;
  --color-yellow: #A78A3E;
  --color-yellow-mid: #E0BE71;
  --color-moonlight: #081917;
  --color-sand: #F7F4EE;
  --color-cloud: #FAF9FD;
  --font-sans: DM Sans, sans-serif;
  --font-serif: DM Serif Text, serif;
  --font-instrument: Instrument Serif, serif;
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: "DM Sans, sans-serif",
      density: 0,
    ));
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 1.8px;
  background-color: #FFF;
  color: #081917;

  color-scheme: light;
  margin: 0;
}

.title-tabs {
  font-size: 10px;
  letter-spacing: 1.8px;
}

.mat-mdc-menu-panel {
  background-color: #FFF !important;
  box-shadow: none !important;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 10px !important;
  letter-spacing: 1.8px !important;
}

.mat-mdc-menu-content {
  padding: 0px 0 !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: #C1C8E4 !important;
  color: #FFF;
}

.mat-calendar-body-selected {
  background-color: #364B7A !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #364B7A !important;
}

.container-background-color {
    background-color: red !important;
}